@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@media (min-device-width: 768px) {
  body { 
    width: 65vw;
}
  header {
    height: 120px;
}
  .art_left, .art_right {
    width: 20vw;
    margin-top: 20px;
} 
  .art_center {
    width: 25vw;
}
  .cell1, .cell1b {
    height: 40px;
    font: 12pt Lilita One, sans-serif; 
}
  .cell2 {
    height: 100px;
    font: 34pt Lilita One, sans-serif;
    border-bottom: 1px solid black;
}
  .cell2b {
    height: 100px;
    font: 34pt Lilita One, sans-serif;
    border-bottom: 1px solid white;
}
  .cell3 {
    height: 50px;
    font: 12pt Lilita One, sans-serif;
    border-bottom: 1px solid black;
}
  .cell3b {
    height: 50px;
    font: 12pt Lilita One, sans-serif;
    border-bottom: 1px solid white;
}
  .cell4 {
    height: 70px;
}
  .button1 {
    font-size: 12px;
    padding: 12px 40px 12px 40px;
    border: solid #c5a4f5 1px;
}
  .button2 {
    font-size: 12px;
    padding: 12px 40px 12px 40px;
    border: solid #c5a4f5 1px;
}
}
@media (min-device-width: 426px) and (max-device-width: 767px) {
  body { 
    width: 80vw;
}
  header {
    height: 120px;
}
  .art_left, .art_right {
    width: 25vw;
    margin-top: 20px;
} 
  .art_center {
    width: 30vw;
}
  .cell1, .cell1b {
    height: 50px;
    font: 15pt Lilita One, sans-serif; 
}
  .cell2 {
    height: 100px;
    font: 45pt Lilita One, sans-serif;
    border-bottom: 2px solid black;
}
  .cell2b {
    height: 100px;
    font: 45pt Lilita One, sans-serif;
    border-bottom: 2px solid white;
}
  .cell3 {
    height: 60px;
    font: 17pt Lilita One, sans-serif;
    border-bottom: 2px solid black;
}
  .cell3b {
    height: 60px;
    font: 17pt Lilita One, sans-serif;
    border-bottom: 2px solid white;
}
  .cell4 {
    height: 100px;
}
  .button1 {
    font-size: 20px;
    padding: 12px 40px 12px 40px;
    border: solid #c5a4f5 2px;
}
  .button2 {
    font-size: 20px;
    padding: 12px 40px 12px 40px;
    border: solid #c5a4f5 2px;
}
}
@media (max-device-width: 425px) {
  body { 
    width: 90vw;
}
  .art_left, .art_right {
    width: 100%;
    margin: 20px auto;
} 
  .art_center {
    width: 100%;
}
  .cell1, .cell1b {
    height: 150px;
    font: 45pt Lilita One, sans-serif; 
}
  .cell2 {
    height: 250px;
    font: 120pt Lilita One, sans-serif;
    border-bottom: 5px solid black;
}
  .cell2b {
    height: 250px;
    font: 120pt Lilita One, sans-serif;
    border-bottom: 5px solid white;
}
  .cell3 {
    height: 150px;
    font: 50pt Lilita One, sans-serif;
    border-bottom: 5px solid black;
}
  .cell3b {
    height: 150px;
    font: 50pt Lilita One, sans-serif;
    border-bottom: 5px solid white;
}
  .cell4 {
    height: 200px;
}
  .button1 {
    font-size: 50px;
    padding: 12px 40px 12px 40px;
    border: solid #c5a4f5 3px;
    margin: 5%;
}
  .button2 {
    font-size: 50px;
    padding: 12px 40px 12px 40px;
    border: solid #c5a4f5 3px;
    margin: 5%;
}
}
body { 
  background: url(images/bg-top.svg) top right no-repeat, url(images/bg-bottom.svg) bottom left no-repeat, #F7F7FF;
  margin: auto;
}
header {
  margin-top: 2vh;
  text-align: center;
}
.header_text {
  font: 35pt Lilita One, sans-serif;
  margin-bottom: 0;
}
.header_button {
  display: inline-block;
}
.header_cell {
  padding: 10px;
  font: 20pt Lilita One, sans-serif;
}
.table_left, .table_right, .table_center {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
.art_center {
  background: #8F93EA;
  border-radius: 25px;
}
.art_left, .art_right {
  background: white;
  border-radius: 15px;
}
.art_left, .art_center, .art_right {
  float: left;
}
.cell1b, .cell2b, .cell3b {
  color: white;
}
.button1 {
  background-image: linear-gradient(to bottom, #8A94E6, #a19db8);
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
}
.button1:hover {
  color: #8e71b0;
  background: #ffffff;
  text-decoration: none;
}
.button2 {
  background: #ffffff;
  border-radius: 15px;
  color: #7e73ab;
  text-decoration: none;
}
.button2:hover {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #8A94E6, #a19db8);
  text-decoration: none;
  border: solid #ffffff 1px;
}
