{% extends 'base.html' %}
{% block body %}
<main>
  <div class="art_left">
    <table class="table_left">
      <tr>
        <td class="cell1">Basic</td>
      </tr>
      <tr>
        <td class="cell2"><small>&#36;</small> 49.99</td>
      </tr>
      <tr>
        <td class="cell3">750 GB Storage</td>
      </tr>
      <tr>
        <td class="cell3">5 Users Allowed</td>
      </tr>
      <tr>
        <td class="cell3">Send up to 15 GB</td>
      </tr>
      <tr>
        <td class="cell4">
          <button class="button1">LEARN MORE
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="art_center">
    <table class="table_center">
      <br>
      <tr>
        <td class="cell1b">Professional</td>
      </tr>
      <tr>
        <td class="cell2b"><small>&#36;</small> 99.99</td>
      </tr>
      <tr>
        <td class="cell3b">2 TB Storage</td>
      </tr>
      <tr>
        <td class="cell3b">10 Users Allowed</td>
      </tr>
      <tr>
        <td class="cell3b">Send up to 20 GB</td>
      </tr>
      <tr>
        <td class="cell4">
          <button class="button2">LEARN MORE
          </button>
        </td>
      </tr>
    </table>
    <br>
  </div>
  <div class="art_right">
    <table class="table_right">
      <tr>
        <td class="cell1">Master</td>
      </tr>
      <tr>
        <td class="cell2"><small>&#36;</small> 129.99</td>
      </tr>
      <tr>
        <td class="cell3">10 TB Storage</td>
      </tr>
      <tr>
        <td class="cell3">OVER 9000 Users Allowed</td>
      </tr>
      <tr>
        <td class="cell3">Send up to 200 GB</td>
      </tr>
      <tr>
        <td class="cell4">
          <button class="button1">LEARN MORE
          </button>
        </td>
      </tr>
    </table>
  </div>
</main>
{% endblock %}